$bg: #d3d3d3;

.login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.login-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form *{
  margin: 3px 0;
}

.username-input, .password-input, .login-btn{
  width: 200px;
  height: 25px;
  padding: 2px;
}