<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="lng-navbar">
        <a href="http://localhost:3000/lng/en-US">en</a>
        <a href="http://localhost:3000/lng/de-DE">de</a>
        <a href="http://localhost:3000/lng/es-ES">es</a>
        <a href="http://localhost:3000/lng/fr-FR">fr</a>
        <a href="http://localhost:3000/lng/pl-PL">pl</a>
        <a href="http://localhost:3000/lng/ru-RU">ru</a>
        <a href="http://localhost:3000/lng/tr-TR">tr</a>
        <a href="http://localhost:3000/lng/pt-BR">pt</a>
        <a href="http://localhost:3000/lng/jp-JP">jp</a>
    </div>

    {{{body}}}

</body>
</html>